/*
 * Charlie Lees
 * CS5610 - Web Development
 * Project 1
 * Style sheet for the landing page
 */


/*
 * Allows sections to fill to the edges and not have a white border
 */
html{
  box-sizing: border-box;
  /*Prevents white space at bottom of page*/
  min-height: 100vh;
}
*, *::after{
  box-sizing: inherit;
  font-family: 'Ubuntu', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  /*Background image*/
  background-image: url("../img/through-trees.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

/* Section Container */
.wrapper{
  max-width: 1000px;
  width: 85%;
  padding:10px 10px 10px 10px;
  margin: 0 auto;
}
h1.title{
   border-bottom: 1px black solid 
}
/*SVG External Link Icons*/
div.nav-icons{
    display:flex;
    align-items: stretch;
    justify-content: space-evenly;
    margin-bottom:0px;
    background-color:rgba(31,97,31,0.9);
    border-radius: 20px;
}
.nav-icons button{
    padding: 0;
    border: none;
    background: none;
}
.nav-icons svg{
    height: 100px;
    width: 100px;
    fill:white;
    stroke:white;
}
.icon p{
    text-align: center;
}
/* Stylings for when SVG icons are hovered over/clicked */
.nav-icons svg:hover{
    fill: rgba(68,68,68,1);
    stroke: rgba(68,68,68,1);
}
.nav-icons svg:active{
    fill: #5158ae;
    stroke: #5158ae;
}
/* Color for Github SVG */
.github{
    stroke:white;
}
/* Allowing headshot to scale with screen/window size*/
td.headshot{
    overflow:hidden;
    width: 50%;
    height: auto;
}
img.headshot{
    width: 100%;
    height: auto;
    border-radius:100px;
    min-width: 100px;
}
/* Adding a background color to help distinguish the entries 
 * along with other aesthetic choices*/
li.description{
    background-color:rgba(31,97,31,0.9);
    padding: 10px 10px 10px 10px;
    color:white;
    border-radius: 20px;
}
/* Adding a background color for readability,
 * Also rounding the corners*/
table{
    background-color:rgba(68,68,68,0.7);
    border-radius: 35px;
}

/* Removing the underline from the text in a link*/
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Mobile stylings */
@media (max-width: 500px){
    /*Getting rid of padding for more visibility on smaller screens*/
    td ul{
        margin: 0px 0px 0px 0px;
        padding-left: 0px;
    }
}
