/* COLOR SCHEME

BLUE - #5158ae
MAJENTA - #ae5186
MUSTARD - #aea751
MINT - #51ae79


*/





/* Selectors for the whole page */
*{
  font-family: calder-lc,sans-serif;
  font-weight: 400;
  font-style: normal;

}

/* Box Model Fix 
Allows the size of an element to inform the border size, rather than just the content box size*/

html{
  box-sizing: border-box;
}
*, *::after{
  box-sizing: inherit;
}

/* Clearfix
Allows parent elements to adjust height to match floated elements */

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

/* Section Container */
.content_wrap{
  width: 1000px;
  padding:10px 10px 10px 10px;
  margin: 0 auto;
}


/* Buttons */

.button{
  color: white;
  background: #5158ae;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  margin: 50px 10px;
}






/* -----------Headers used throughout the page------------ */
/* Specific styling for each header */
h1 {
  /* font-size: 60px;
  line-height: 1;
  margin-bottom:0; */
}
/* Used for each section, Work, Education, etc. */
h2 {
  /*margin between top page headers  */
  font-family: yrsa,serif;
  font-weight: 700;
  font-style: normal;
 
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 40px;
}
/* Used for each portion of sections (Tyler Technologies, Northeastern Univeristy, etc.) */
h3{
  font-size: 25px;
  /* text-decoration: underline; */
}
ul{
  margin-bottom: 0;
}
a:link{
  color:orange;
}
a:visited{
  color: orange;
}
img{
  width: 300px;
}

/* -----------Header of page------------ */

.header{
  background-color: #5158ae;
  text-align: center;
  color: white;
  
  
}
/* Styling for the top main header */
.page_title{
  font-family: calder-dark,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  background-color: #5158ae;
  margin-bottom: 0;
  
}
/* Styling for the text below the main title */
.page_top{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  
  
  /* color: rgb(255, 247, 210);
  background-color: rgb(41, 41, 105); */
  
  /* text-align: center; */
}

/* Stylings for each non-final item listed in the below areas */
.entry{
  overflow: hidden;
  border-bottom: 1px dashed black;
  padding: 25px 0;
}

/* -----------Projects-------------------- */
.project img{
  float: left;
  margin-right: 30px;
  
}
.project h3{
  margin-top: 5px;
}

.project .entry{
  padding-top: 25px;
  padding-bottom: 50px;
}

.project li{
  margin-bottom: 20px;
}

/* whitespace between projects */
.project .whitespace{
  margin: 45px;

}

/* -----------Work Experience------------ */
.work{
  background-color: #51ae79;
  padding:20px 10px 20px 10px;
  margin: 0;
}


.work img{
  float: left;
  margin-right: 20px;
  width: 200px;
}

.work .whitespace{
  margin: 45px;

}
/* -----------Education------------------ */
.education{
  background-color: #ae5186;
  padding:20px 10px 20px 10px;
  margin: 0;
}
/* Footer Assets */
footer{
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.footer{
  font-size: 30px;
  color: white;
}
.contact{
  background-color: rgb(95, 95, 95);
  color: yellow;
}